<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css">
  <title>Express Store</title>
</head>
<body>
  <header><h1>Express Store</h1></header>
  <main><%- body %></main>
</body>
</html>
