<ul class="products">
  <% products.forEach(p => { %>
    <li>
      <strong><%= p.name %></strong> – <%= p.price %> PLN
      <form action="/cart/add" method="post" style="display:inline">
        <input type="hidden" name="productId" value="<%= p.id %>">
        <button>Add to cart</button>
      </form>
    </li>
  <% }) %>
</ul>

<a href="/cart">Go to Cart</a>
